body {
    display: grid;
}

#green {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#yellow {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#orange {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#blue {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#red {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}
